<p>Space bar to shoot! Arrow keys to move! The levels are timed, so destroy the asteroids quickly so you won't have to avoid too many!</p>
    <canvas width="700" height="600" style="background:url('http://www.thatsreallypossible.com/wp-content/uploads/2012/12/Space-Colonialisation.jpg')"></canvas>

    <script>
        var canvas = document.getElementsByTagName("canvas")[0];
        new Asteroids.Game(canvas.getContext("2d")).start();
    </script>
