			<div id="header" class="skel-panels-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<h1 id="title">Travis Randolph</h1>
							<span class="byline">Software Engineer</span>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link" class="skel-panels-ignoreHref" style="text-align: left;"><span class="fa fa-home"></span>  About Me</a></li>
								<li><a href="#portfolio" id="portfolio-link" class="skel-panels-ignoreHref" style="text-align: left;"><span class="fa fa-th"></span>  Portfolio</a></li>
								<li><a href="#contact" id="contact-link" class="skel-panels-ignoreHref" style="text-align: left;"><span class="fa fa-envelope"></span>  Contact</a></li>
							</ul>
						</nav>
						
				</div>
				
				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="http://www.github.com/travisR004" class="fa fa-github solo"><span>Github</span></a></li>
							<li><a href="http://www.linkedin.com/pub/travis-randolph/35/ab3/354/" class="fa fa-linkedin solo"><span>Github</span></a></li>
							<li><a href="mailto:travisR004@gmail.com" class="fa fa-envelope solo"><span>Email</span></a></li>
						</ul>
				
				</div>
			
			</div>

		<!-- Main -->
			<div id="main">
			
				<!-- Intro -->
					<section id="top" class="one">
						<div class="container">

							<div class="image featured"><img src="assets/headerphoto.jpg" alt="" /></div>

							<header>
								<h2 class="alt">About <strong>Travis Randolph</strong></h2>
							</header>
							
							<p>Web deveolpment is a dynamic industry, demanding its engineers to solve complex problems and adapt to changing environments. I have a passion for attacking these complex problems, and the strategy involved in developing and implementing new solutions fuels me as a web devoloper. I'm looking to join a team that follows engineering best-practices, but has the creativity and desire for tech to generate unique and innovative solutions.</p>

						</div>
					</section>
					
				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">
					
							<header>
								<h2>Portfolio</h2>
							</header>
							
							<p>Check out the projects I've completed below! Each project has a live link as well as a link to its respective GitHub repo. If you'd like to check anything out without actually signing up on any of the sites, log in as a demo user to get a feel for how these web apps work.</p>
						
							<div class="row">
								<div class="4u">
									<article class="item">
										<a href="http://www.taskdragger.com" class="image full"><img src="assets/taskdragger.png" alt="" /></a>
										<header>
											<h3>Task Dragger: An Interactive Task Management Web App</h3>
											<h3><a href="http://www.taskdragger.com">taskdragger.com</a></h3>
											<h3><a href="https://github.com/travisR004/taskdragger">GitHub</a></h3>
										</header>
									</article>
									<article class="item">
										<a href="http://www.sharebnbapp.com" class="image full"><img src="assets/sharebnbapp.png" alt="" /></a>
										<header>
											<h3>Sharebnb: Turn Your Extra Bedroom Into Someone's Dream Vacation</h3>
											<h3><a href="http://www.sharebnbapp.com">sharbnbapp.com</a></h3>
											<h3><a href="https://github.com/travisR004/sharebnb">GitHub</a></h3>
										</header>
									</article>
								</div>
								<div class="4u">
									<article class="item">
										<a href="/asteroids" class="image full"><img src="assets/asteroids.png" alt="" /></a>
										<header>
											<h3>Asteroids: A Recreation of the Classic Arcade Game</h3>
											<h3><a href="/asteroids">travisarandolph.com/asteroids</a></h3>
											<h3><a href="https://github.com/travisR004/asteroids">GitHub</a></h3>
										</header>
									</article>
									<article class="item">
										<header>
											<h3>Also, feel free to checkout my version of snake if you're bored and have some time to kill!</h3>
											<h3><a href="/snake">travisarandolph.com/snake</a></h3>
											<h3><a href="https://github.com/travisR004/snake">GitHub</a></h3>
										</header>
									</article>
								</div>

						</div>
					</section>
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Feel free to contact me by phone or email, or add me on any of the social media sites on the left if you'd like to get connected.</p>
							<p>EMAIL: <a href="mailto:travisR004@gmail.com" > travisR004@gmail.com </a></p>
							<p>PHONE: 832-444-4910</p>

						</div>
					</section>
			
			</div>

		<!-- Footer -->
			<div id="footer">
				
				<!-- Copyright -->
					<div class="copyright">
						<p>&copy; 2013 Jane Doe. All rights reserved.</p>
						<ul class="menu">
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				
			</div>